body {
    display: grid;
    background-color: yellow;
    width: 100%;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: '. main .';
}

main {
    display: main;
    width: 100%;
    min-height: 100vh;
    grid-area: main;
    padding: 20px;
    background-color: aqua;
}

.orders-pool {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.order {
    background-color: white;
}

.order > .top-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #999;
    padding: 0 5px;
}

.order > .phone {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #ddd;
}

.order > .order-list {
    list-style-type: none;
    padding: 0 5px;
}

.order > .order-list > .remove {
    color: red;
    font-weight: bold;
}
.order > .order-list > .extra {
    color: green;
    font-weight: bold;
}

.order > .bottom-bar {
    display: flex;
    justify-content: space-between;
    background-color: #ddd;
}
